name: msteams-react-base-component CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 15.x, 16.x, 18.x, 19.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm run lint
      - run: npm run test
      - uses: codecov/codecov-action@v2
        with:
          directory: ./coverage
          flags: unittests 
          fail_ci_if_error: true
      - run: npm run build
        env:
          CI: true
